<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="static/mainstyles.css">
</head>
<body>
    <form action="{{ url_for('scorecard') }}" method="post" class="top-right-button">
        <button type="submit">View Scorecard</button>
    </form>
    <h1>Game Board - Round Number {{ round_number }}</h1>
    <hr style="width: 300px; alignment: center; border: 2px solid mediumpurple; border-radius: 5px;">
    <table>
        <tr>
            <th colspan="2">Player</th>
            {% for id, info in player_points.items() %}
            <th>{{ info.player_name }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="2">Points</td>
            {% for id, info in player_points.items() %}
            <td>{{ info.points }}</td>
            {% endfor %}
        </tr>
    </table>
    <form action="/play_round" method="post">
        <button type="submit">Start Round</button>
    </form>
</body>
</html>
